.body {
  background-color: #f5f7fb;
}

.intro {
  height: 100vh;
  width: 100vw;
  font-family: Inter;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro__title {
  font-family: Karla;
  font-weight: bold;
  font-size: 3.906rem;
  line-height: 4.625rem;
  color: #293264;
}

.intro__description {
  margin-top: 0.875rem;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.375rem;
  color: #293264;
}

.intro__btn {
  margin-top: 3.625rem;
  background: #4d5b9e;
  border-radius: 15px;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.375rem;
  text-align: center;
  color: #f5f7fb;
  width: 24.125rem;
  height: 6.5rem;
}

.intro__btn:active {
  background-color: #3a405c;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(1px);
}

.blobs {
  background-image: url(../images/blue\ blob.svg),
    url(../images/yellow\ blob.svg);
  background-position: left bottom, right top;
  background-repeat: no-repeat;
}

.blobs--big {
  background-size: 40vh, 40vh;
}

.blobs--small {
  background-size: 30vh, 30vh;
}

.main {
  height: 100vh;
  width: 100vw;
}

.container {
  padding: 1rem 10%;
  width: 100%;
  height: 100vh;
}

.question-container {
  margin-top: 1rem;
}

.question {
  font-family: Karla;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  color: #293264;
}

.answers-container {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1.625rem;
  margin-bottom: 1rem;
}

.answer {
  color: #293264;
  border: 0.125rem solid;
  border-radius: 1.5rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  padding: 0.75rem 1rem;
  background-color: #f5f7fb;
}

.answer + .answer {
  margin-left: 1.5rem;
}

.answer--unselected {
  border-color: #4d5b9e;
}

.answer--unselected:hover {
  background-color: #e1e5ee;
  cursor: pointer;
}

.answer--selected {
  background-color: #d6dbf5;
  border-color: #d6dbf5;
}

.answer--locked {
  color: #8f94af;
  border-color: #8f94af;
}

.answer--correct {
  background: #94d7a2;
  border-color: #94d7a2;
  color: #293264;
}

.answer--incorrect {
  background: #f8bcbc;
  border-color: #f8bcbc;
}

.question__line {
  border: none;
  height: 1px;
  background-color: #dbdef0;
}

.action {
  display: flex;
  justify-content: center;
}

.action__btn {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #f5f7fb;
  background-color: #4d5b9e;
  border-radius: 10px;
  width: 15rem;
  height: 4.375rem;
  margin-top: 1.5rem;
}

.action__btn:hover {
  background-color: #5664b3;
  cursor: pointer;
}

.action__btn:active {
  background-color: #3b4579;
}

.restart {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 1.75rem;
  text-align: center;
  color: #293264;
}

.btn--restart {
  margin-left: 3rem;
}
